.container{
    font-family: 'Karma', serif;
}
.menu-bar{
    background-color: rgb(104, 149, 129, 0.75);
    margin: 0px 0px 10px 0px;
    position: fixed;
    top:0px;
    right: 0px;
    left:0px;
}
a{
    text-decoration: none;
}
#header-title{
    font-weight: 500;
    font-size: 30px;
    margin: 10px 20px 0px 20px;
    display: inline;
    color: black;
}
button:hover{
    background-color: white;
    border-width: 1px;
    border-color: rgb(0, 0, 0, 0.65);
}
.header-button{
    font-family: 'Karma', serif;
    border-radius: 50px;
    border-width: 0px;
    font-size: 15px;
    font-weight: 500;
    background-color: rgb(236, 209, 152);
    padding: 2px 25px 0px 25px;
    margin-top: 10px;
    margin-right: 7px;
    float: right;
    display: inline;
}